.container {
    width: 500px;
    background-color: #eee;
    height: 500px;
    padding: 20px;
    margin: 0 auto;
}
.title {
    font-size: 24px;
    text-align: center;
    margin-top: 12px;
}
.discription {
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
}
.maxNum {
    display: block;
    margin: 20px auto;
    width: 200px;
    height: 40px;
    font-size: 18px;

}
.btn {
    display: block;
    margin: 20px auto;
    background-color:aqua;
    border: none;
    width: 200px;
    height: 40px;
}
.Num {
    text-align: center;
    font-size: 18px;
}
.randomNum {
    color: blue;
}